body {
  font-family: "Montserrat", sans-serif;
  color: var(--blackMain);
  font-weight: 400;
  font-style: normal;
  background-image: url(../img/hero-image.png), url(../img/top-bg-spot.png),
    url(../img/background-mess.png);
  background-size: 100%, 100%, 100%;
  background-position-y: 3rem, 0rem, 0rem;
  background-position-x: right;
  background-repeat: no-repeat, no-repeat, repeat;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1024px;
    padding: 0 10px;
  }
}

.tech__blueLineEnd {
  display: flex;
  align-items: flex-end;
}

h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
}

// <!-- -=-=-=-=-=-PLAY BUTTONS-=-=-=-=-=- -->
// <!-- -=-=-=-=-=-PLAY BUTTONS-=-=-=-=-=- -->
.play-button {
  padding: 6px 9px;
  width: 40px;
  height: 40px;
  background: var(--greenMain);
  border: 2px solid var(--whiteMain);
  box-shadow: 0px 4px 16px var(--shadowGreenPlayButton);
  border-radius: 20px;
  cursor: pointer;
}
.play-button:hover,
.play-button:focus {
  border: none;
  padding: 7px 10px;
}
.play-button:active {
  background: var(--greenSlickButtonActive);
  box-shadow: none;
  padding: 7px 10px;
}

// <!-- -=-=-=-=-=-SLICK BUTTONS-=-=-=-=-=- -->
// <!-- -=-=-=-=-=-SLICK BUTTONS-=-=-=-=-=- -->
.slick-prev {
  transform: rotate(180deg);
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 16px #e2edfb;
  border-radius: 20px;
  height: 40px;
}

.slick-next {
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 4px 16px #e2edfb;
  border-radius: 20px;
  height: 40px;
}

.slick-next:hover,
.slick-next:focus,
.slick-prev:hover,
.slick-prev:focus {
  --color1: var(--greenMain);
  --color4: var(--whiteMain);
}

.slick-next:active,
.slick-prev:active {
  --color1: var(--greenSlickButtonActive);
}

// <!-- -=-=-=-=-=-STANDARD BUTTONS-=-=-=-=-=- -->
// <!-- -=-=-=-=-=-STANDARD BUTTONS-=-=-=-=-=- -->
.button {
  font-weight: 700;
  font-size: 12px;
  border-radius: 22px;
  line-height: 1.33;
  padding: 12px 20px;
  color: var(--blackMain);
  background-color: var(--greyText);
}

.transparent-button {
  color: var(--whiteMain);
  background: none;
  border: 1px solid var(--whiteMain);
}

.blue-button {
  background-color: var(--blueMain);
  color: var(--whiteMain);
}

.blue-button:hover,
.blue-button:focus {
  background-color: var(--blueButtonHover);
}

.blue-button:active {
  background-color: var(--blueButtonPressed);
}

.green-button {
  color: var(--blackMain);
  background-color: var(--greenVeryLight);
}

.green-button:hover,
.green-button:focus {
  background-color: var(--greenButtonHover);
}

.green-button:active {
  background-color: var(--greenButtonPressed);
}

.send-button {
  width: 120px;
  height: 40px;
  background-color: var(--greenSendButton);
  box-shadow: 0px 4px 16px var(--shadowGreenPlayButton);
  color: var(--whiteMain);
  cursor: pointer;
}

.send-button:hover,
.send-button:focus {
  background: var(--greenSendButtonHover);
  box-shadow: 0px 10px 16px 4px var(--shadowGreenSendButtonHover);
}

.send-button:active {
  background: var(--greenSendButtonActive);
  box-shadow: 0px 4px 16px var(--shadowGreenPlayButton);
}

.transparent-button:hover,
.transparent-button:focus {
  background: var(--greyTransparentButton);
}

.transparent-button:active {
  background: var(--greyTransparentButton);
  border: 2px solid var(--whiteMain);
}


form {
  input {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0px 12px;
    width: 90vw;
    height: 44px;
    background: var(--whiteInputFieldBackground);
    border-radius: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--greyText);
    border: none;
  }
  input:focus,
  input:focus-visible,
  input:hover {
    border: 2px solid var(--blueMain);
  }
}

// <!-- -=-=-=-=-=-FOOTER-=-=-=-=-=- -- >
.footer-info {
  .footer-nav-expanded {
    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
    }
    ul > li > a {
      font-size: 14px;
      line-height: 1.57;
      color: var(--greyText);
    }
    ul > li > a:hover,
    ul > li > a:focus {
      color: var(--blueMain);
    }
    ul > li > a:active {
      color: var(--blackMain);
      opacity: 0.5;
    }
  }
  .footer-nav-minimized {
    ul > li > a {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33;
      color: var(--greyText);
    }
    ul > li > a:hover,
    ul > li > a:focus {
      color: var(--blueMain);
    }
    ul > li > a:active {
      color: var(--blackMain);
      opacity: 0.5;
    }
  }
  .social-networks-contacts:focus,
  .social-networks-contacts:hover {
    --color33: var(--blueMain);
  }
  .social-networks-contacts:active {
    --color33: var(--blackMain);
    opacity: 0.5;
  }
}
