body {
  font-family: "Montserrat", sans-serif;
  color: var(--blackMain);
  font-weight: 400;
  font-style: normal;
  background-image: url(../img/hero-image.png), url(../img/header-bg-spot1.png),
    url(../img/header-bg-spot2.png), url(../img/background-mess.png);
  background-size: 100%, 95%, 100%, contain;
  background-position-y: 3rem, 0rem, 0rem, 0rem;
  background-position-x: right;
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
}

h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
}

button#hamburgerBtn {
  background: none;
  border: none;
  color: var(--blueMain);
  font-size: 24px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-right: 12px;
}

button#hamburgerBtn:hover,
button#hamburgerBtn:focus {
  transform: scale(1.3);
}

button#hamburgerBtn:active {
  color: var(--blackMain);
}

header.header > nav ul.open {
  display: block;
}

header.header > nav ul {
  display: none;
}

.main-logo:focus,
.main-logo:hover {
  --color2: var(--blackMain);
}

// <!-- -=-=-=-=-=-STANDARD BUTTONS-=-=-=-=-=- -->
.button {
  font-weight: 700;
  font-size: 12px;
  border-radius: 22px;
  line-height: 1.33;
  padding: 12px 24px;
  color: var(--blackMain);
  background-color: var(--greyText);
}

.blue-button {
  background-color: var(--blueMain);
  color: var(--whiteMain);
}

.blue-button:hover,
.blue-button:focus {
  background-color: var(--blueButtonHover);
}

.blue-button:active {
  background-color: var(--blueButtonPressed);
}

.green-button {
  color: var(--blackMain);
  background-color: var(--greenVeryLight);
}

.green-button:hover,
.green-button:focus {
  background-color: var(--greenButtonHover);
}

.green-button:active {
  background-color: var(--greenButtonPressed);
}

.send-button {
  width: 120px;
  height: 40px;
  background-color: var(--greenSendButton);
  box-shadow: 0px 4px 16px var(--shadowGreenPlayButton);
  color: var(--whiteMain);
  cursor: pointer;
}

.send-button:hover,
.send-button:focus {
  background: var(--greenSendButtonHover);
  box-shadow: 0px 10px 16px 4px var(--shadowGreenSendButtonHover);
}

.send-button:active {
  background: var(--greenSendButtonActive);
  box-shadow: 0px 4px 16px var(--shadowGreenPlayButton);
}

.transparent-button {
  color: var(--whiteMain);
  background: none;
  padding: 12px 20px;
  width: 142px;
  height: 40px;
  border: 1px solid var(--whiteMain);
}

.transparent-button:hover,
.transparent-button:focus {
  background: var(--greyTransparentButton);
}

.transparent-button:active {
  background: var(--greyTransparentButton);
  border: 2px solid var(--whiteMain);
}

// <!-- -=-=-=-=-=-HEADER-=-=-=-=-=- -- >
.header {
  .header-nav-link {
    color: var(--whiteMain);
    font-size: 12px;
    line-height: 1.33;
    font-weight: 600;
  }
  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--blueMain);
  }
}

// <!-- -=-=-=-=-=-HERO SECTION-=-=-=-=-=- -->

.hero-section {
  background-repeat: no-repeat;
  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
  }
  p {
    font-size: 14px;
    line-height: 1.57;
  }
}

// <!-- -=-=-=-=-=-OUR CLIENTS SECTION-=-=-=-=-=- -->
.our-clients {
  ul {
    display: flex;
  }
  ul > li > a > img:hover {
    opacity: 0.7;
    transform: scale(1.3);
  }
}

// <!-- -=-=-=-=-=-WHY CHOOSE US SECTION-=-=-=-=-=- -->
.choose-us-section {
  h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }
  p {
    font-size: 14px;
    line-height: 1.57;
    color: var(--greyText);
  }
}

// <!-- -=-=-=-=-=-MOST POPULAR COURSES SECTION-=-=-=-=-=- -->
.popular-courses-section {
  h2 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: var(--blueMain);
  }
  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }

  ul > li.course-card {
    position: relative;
    border-radius: 8px;
    display: inline-block;
    margin: 0 auto;
  }
  ul > li > a {
    display: inline-block;
    background-color: none;
  }

  ul > li.course-card > a > img.portrait {
    position: absolute;
    left: 16px;
    top: -22px;
  }
  ul > li.course-card > a > img.course-advert {
    border-radius: 8px;
  }
  ul > li > a > h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    color: var(--whiteMain);
    margin: 0 16px 0 16px;
    position: absolute;
    top: 243px;
  }
  ul > li > a > p.course-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--whiteMain);
    position: absolute;
    top: 263px;
    margin: 0 16px 0 16px;
  }
  ul > li > a > p.course-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    color: var(--whiteMain);
    position: absolute;
    top: 320px;
    margin-left: 16px;
  }
  ul > li > a > p > span.price-discounted {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    text-decoration-line: line-through;
    color: var(--whiteMain);
    margin-left: 10px;
    vertical-align: middle;
  }
  ul > li > a > div.stars-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 324px;
    right: 13px;
    gap: 2px;
  }
  ul > li > a > div.stars-container > p.stars-counter {
    margin-left: 4px;
  }

  a:focus {
    box-shadow: 0px 6px 20px var(--shadowLightBlueCourseCards);
  }
}

ul > li > a:hover,
ul > li > a:focus {
  box-shadow: 0px 6px 20px var(--shadowLightBlueCourseCards);
}
ul > li > a:active {
  opacity: 0.4;
}

button.slick-prev {
  transform: rotate(180deg);
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: none;
}

.slick-next {
  cursor: pointer;
  display: block;
  width: 100%;
}

.slick-next:hover,
.slick-next:focus,
.slick-prev:hover,
.slick-prev:focus {
  --color1: var(--greenMain);
  --color4: var(--whiteMain);
}

.slick-next:active,
.slick-prev:active {
  --color1: var(--greenSlickButtonActive);
}

.popular-courses-section {
  ul > li .stars-counter {
    font-size: 12px;
    line-height: 1.33;
    color: var(--whiteMain);
  }
}

.limitter-327px {
  margin-left: 24px;
  margin-right: 24px;
}

// <!-- -=-=-=-=-=-TAKE A TOUR SECTION-=-=-=-=-=- -->
.take-tour {
  .play {
    padding: 6px 9px;
    width: 40px;
    height: 40px;
    background: var(--greenMain);
    border: 2px solid var(--whiteMain);
    box-shadow: 0px 4px 16px var(--shadowGreenPlayButton);
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 197px;
    left: 169px;
  }
  .play:hover,
  .play:focus {
    border: none;
    padding: 7px 10px;
  }
  .play:active {
    background: var(--greenSlickButtonActive);
    box-shadow: none;
    padding: 7px 10px;
  }

  h2 {
    margin-bottom: 24px;
  }
  div.video {
    position: relative;
    margin-bottom: 40px;
  }

  .university-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    color: var(--blueMain);
    margin-bottom: 6px;
  }
  p {
    font-size: 14px;
    line-height: 1.57;
    color: var(--greyText);
  }
  .pink-dot {
    position: relative;

    p {
      margin-left: 36px;
    }
  }
  ul {
    margin-top: 12px;
    margin-bottom: 36px;
  }

  .pink-dot p {
    margin-bottom: 12px;
  }
}

// <!-- -=-=-=-=-=-YET ANOTHER WHY CHOOSE US SECTION-=-=-=-=-=- -->
.another-choose-us {
  .conference-details {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;

    svg {
      margin-right: 8px;
    }
  }

  h2 {
    margin-top: 132px;
    margin-bottom: 32px;
  }
  h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px;
    line-height: 1.57;
    color: var(--greyText);
    margin-right: 24px;
  }
  li {
    padding-bottom: 24px;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--greyText);
  }

  .featured {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    letter-spacing: 0.4em;
    color: var(--beigeFeaturedBackground);
    margin-left: -8px;
    padding-top: 40px;
  }
  aside > p {
    font-size: 14px;
    line-height: 1.57;
    color: var(--greyText);
  }
  .days > span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    color: var(--blueFeaturedDaysCounter);
  }
  .hours > span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    color: var(--goldenFeaturedHoursCounter);
  }
  .minutes > span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    color: var(--redFeaturedMinutesCounter);
  }
}
aside {
  background-color: var(--whiteAsideBackground);
  padding-left: min(24px);
}

.featured-counter {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: right;
  justify-content: flex-start;
  gap: 28px;

  span {
    margin-right: 6px;
  }
}

.featured-card {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  margin: 24px auto 52px;
  img {
    border-radius: 8px;
  }
  .featured-card-info {
    width: 280px;
    height: 156px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 224px;
    left: 24px;
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      color: var(--whiteMain);
    }
    .featured-card-info-details {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding-left: 24px;
      row-gap: 8px;
      position: absolute;

      p {
        font-size: 14px;
        line-height: 1.57;
        color: var(--whiteFeaturedCardText);
        margin-left: 8px;
      }
    }
  }
}

// <!-- -=-=-=-=-=-WHICH ONE DO YOU PREFER SECTION-=-=-=-=-=- -->
.which-you-prefer-section {
  margin-left: 24px;
  margin-right: 24px;

  h2 {
    margin-top: 92px;
    margin-bottom: 16px;
    margin-right: 84px;
  }
  p {
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: var(--greyText);
  }
  ul {
    display: flex;
  }
  ul > li > p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--whiteMain);
  }
  ul > li > a:hover,
  ul > li > a:focus {
    opacity: 0.7;
  }
  ul > li > a:active {
    opacity: 0.4;
  }
}

//  <!-- -=-=-=-=-=-OUR GREAT CUSTOMERS SECTION-=-=-=-=-=- -->
.our-great-customers {
  background-image: url(../img/bg-image-spot.png);
  background-repeat: no-repeat;

  h2 {
    background-image: url(../img/bg-image-circle.png);
    background-repeat: no-repeat;
  }

  figure > blockquote > p {
    font-size: 14px;
    line-height: 1.57;
    color: var(--greyText);
  }
  figure > figcaption > p {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
  }
  ul {
    display: flex;
  }
  ul > li > button:hover,
  ul > li > button:focus {
    transform: scale(1.3);
  }
  ul > li > button:active {
    --color3: var(--blueMain);
  }
}

// <!-- -=-=-=-=-=-READY TO GET STARTED SECTION-=-=-=-=-=- -->
.get-started {
  background-image: url(../img/background.png);
  display: flex;
  .get-started-slogan {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    color: var(--whiteMain);
  }
  h2 {
    color: var(--greenSendButton);
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    color: var(--whiteMain);
    width: 50%;
  }
  aside {
    width: 50%;
  }
  aside > p {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    color: var(--whiteMain);
  }
  aside > ul > li > p {
    font-size: 14px;
    line-height: 1.57;
    color: var(--whiteMain);
  }
  aside > ul > li > a:hover,
  aside > ul > li > a:focus {
    opacity: 0.7;
  }
  aside > ul > li > a:active {
    opacity: 0.4;
  }
}

// <!-- -=-=-=-=-=-LATEST BLOG SECTION-=-=-=-=-=- -->
.latest-blog {
  ul > li > h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    color: var(--blueLatestBlog);
  }
  ul > li > h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
  }
  ul > li > a {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    color: var(--blackMain);
  }
  ul > li > a:hover,
  ul > li > a:focus {
    opacity: 0.7;
    color: var(--blueMain);
  }
  ul > li > a:active {
    opacity: 0.4;
    color: var(--blackMain);
  }

  ul > li > button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--blueLatestBlog);
    width: 40px;
    height: 40px;
    background: var(--whiteMain);
    border-radius: 20px;
    padding: 8px;
  }
  ul > li > button:hover,
  button:focus {
    box-shadow: 0px 4px 16px --shadowLightBlueCarouselButtonHover;
  }

  ul > li > button:active {
    border: 1px solid var(--greenSendButton);
    box-shadow: none;
  }
}

form {
  input {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0px 12px;
    width: 420px;
    height: 44px;
    background: var(--whiteInputFieldBackground);
    border-radius: 22px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--greyText);
    border: none;
  }
  input:focus,
  input:focus-visible,
  input:hover {
    border: 2px solid var(--blueMain);
  }
}

// <!-- -=-=-=-=-=-FOOTER-=-=-=-=-=- -- >
.footer-info {
  .footer-nav-expanded {
    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
    }
    ul > li > a {
      font-size: 14px;
      line-height: 1.57;
      color: var(--greyText);
    }
    ul > li > a:hover,
    ul > li > a:focus {
      color: var(--blueMain);
    }
    ul > li > a:active {
      color: var(--blackMain);
      opacity: 0.5;
    }
  }
  .footer-nav-minimized {
    ul > li > a {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33;
      color: var(--greyText);
    }
    ul > li > a:hover,
    ul > li > a:focus {
      color: var(--blueMain);
    }
    ul > li > a:active {
      color: var(--blackMain);
      opacity: 0.5;
    }
  }
  .social-networks-contacts:focus,
  .social-networks-contacts:hover {
    --color33: var(--blueMain);
  }
  .social-networks-contacts:active {
    --color33: var(--blackMain);
    opacity: 0.5;
  }
}
