.hero-section {
  background-repeat: no-repeat;
  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    margin-bottom: 32px;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    margin-bottom: 40px;
  }

  a.button.blue-button {
    margin-right: 24px;
  }
}
