body {
  font-family: "Montserrat", sans-serif;
}

button#hamburgerBtn {
  background: none;
  border: none;
  color: $primaryBlue;
  font-size: 24px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

header {
  display: flex;
}

.main-logo:hover {
  --color1: #000000;
}
