body {
  display: flex;
  flex-direction: column;
}
// <!-- -=-=-=-=-=-HEADER-=-=-=-=-=- -->
header.header {
  width: 100%;
  margin: 24px 24px 360px 24px;
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  nav > a.button.blue-button {
    margin-right: 48px;
    margin-left: auto;
  }
}

//   <!-- -=-=-=-=-=-HERO SECTION-=-=-=-=-=- -->
.hero-section {
  margin: 11px 24px 40px;
  max-width: 415px;
  h1 {
    margin-bottom: 32px;
  }
  p {
    margin-bottom: 40px;
  }
  a.button.blue-button {
    margin-right: 24px;
  }
}

//   <!-- -=-=-=-=-=-OUR CLIENTS SECTION-=-=-=-=-=- -->
section.our-clients {
  margin: 0 24px 80px 23px;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

//   <!-- -=-=-=-=-=-WHY CHOOSE US SECTION-=-=-=-=-=- -->
section.choose-us-section {
  h2 {
    margin-bottom: 56px;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
  }
  ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul > li {
    svg {
      margin-bottom: 16px;
    }
    h3 {
      margin-bottom: 6px;
    }
    p {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

//   <!-- -=-=-=-=-=-MOST POPULAR COURSES SECTION-=-=-=-=-=- -->
section.popular-courses-section {
  h2 {
    margin-bottom: 6px;
  }
  h3 {
    margin-bottom: 32px;
  }

  
 
}
