.popular-courses-section {
  .popular-courses-section-header {
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    color: var(--blueMain);
    margin-bottom: 6px;
  }
  .popular-courses-section-sub-header {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    text-align: center;
    margin-bottom: 32px;
  }
  .courses-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }
}

//   <!-- -=-=-=-=-=-COURSE CARD-=-=-=-=-=- -->
.course-card {
  position: relative;
  border-radius: 8px;
  display: inline-block;
  margin: 0 auto;
}
.course-link {
  display: inline-block;
  background-color: none;
}
.course-link:focus {
  box-shadow: 0px 6px 20px var(--shadowLightBlueCourseCards);
}
.portrait {
  position: absolute;
  left: 16px;
  top: -22px;
}
.course-advert-picture {
  border-radius: 8px;
}
.course-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: var(--whiteMain);
  margin: 0 16px 0 16px;
  position: absolute;
  top: 243px;
}
.course-description {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--whiteMain);
  position: absolute;
  top: 263px;
  margin: 0 16px 0 16px;
}
.course-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--whiteMain);
  position: absolute;
  top: 320px;
  margin-left: 16px;
}
.price-discounted {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-decoration-line: line-through;
  color: var(--whiteMain);
  margin-left: 10px;
  vertical-align: middle;
}
.stars-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 324px;
  right: 13px;
  gap: 2px;
}
.stars-counter {
  margin-left: 4px;
  font-size: 12px;
  line-height: 1.33;
  color: var(--whiteMain);
}
