.pink-dot:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: var(--pinkDecorationDot);
  position: absolute;
  top: 8px;
  left: 8px;
}

.blue-line::after {
  content: "";
  display: inline-block;
  margin-left: 24px;
  width: 56px;
  height: 2px;
  background-color: var(--blueMain);
}

.blue-line-far-away::after {
  content: "";
  display: inline-block;
  text-align: right;
  width: 56px;
  height: 2px;
  background-color: var(--blueMain);
}

.greyCircle::after {
  content: "";
  display: none;
  width: 32px;
  height: 32px;
  background: var(--greyDecorationCircle);
  border-radius: 50%;
}

.pinkSquare::after {
  content: "";
  display: none;
  width: 40px;
  height: 40px;
  background: var(--pinkDecorationSquare);
  border-radius: 8px;
}

.greenBackgroundCard::after {
  content: "";
  display: block;
  width: 415px;
  height: 264px;
  background: var(--greenLightBackgroundCard);
  border-radius: 16px 16px 0px 16px;
}

.whiteHorLine::after {
  content: "";
  display: block;
  width: 270px;
  height: 1px;
  background-color: var(--whiteMain);
  margin-top: 48px;
  margin: 48px 0 0 -16px;
}

.blueSquare::before {
  content: "";
  display: block;
  width: 344px;
  height: 344px;
  background: var(--blueDecorationSquare);
  border-radius: 24px;
}
