:root {
  --blueMain: #1b63f0;
  --blueButtonHover: #3d7fff;
  --blueButtonPressed: #175ee9;
  --whiteMain: #ffffff;
  --blackMain: #000000;
  --greenMain: #64be97;
  --greenButtonHover: #c0ffe4;
  --greenButtonPressed: #83ebbf;
  --greenVeryLight: #97f5cd;
  --greyText: #5c5c5c;
}
