:root {
  --blueMain: #1b63f0;
  --blueButtonHover: #3d7fff;
  --blueButtonPressed: #175ee9;
  --blueFeaturedDaysCounter: #91a3ed;
  --blueLatestBlog: #5d74e4;
  --blueDecorationSquare: #637af2;
  --whiteMain: #ffffff;
  --whiteFeaturedCardText: #bfbfbf;
  --whiteAsideBackground: #fff9f1;
  --whiteInputFieldBackground: #f3f6fc;
  --blackMain: #000000;
  --greenMain: #64be97;
  --greenButtonHover: #c0ffe4;
  --greenButtonPressed: #83ebbf;
  --greenVeryLight: #97f5cd;
  --greenSendButton: #64be97;
  --greenSendButtonHover: #25de8e;
  --greenSendButtonActive: #4dda9d;
  --greenSlickButtonActive: #55b089;
  --greenLightBackgroundCard: #d6fae7;
  --greyText: #5c5c5c;
  --greyTransparentButton: rgba(255, 255, 255, 0.15);
  --greyDecorationCircle: #eaedf4;
  --beigeFeaturedBackground: #f6f2e9;
  --goldenFeaturedHoursCounter: #f0c41b;
  --redFeaturedMinutesCounter: #fe5f60;
  --pinkDecorationDot: #fde7e6;
  --pinkDecorationSquare: #ffefef;
  --shadowGreenPlayButton: rgba(75, 202, 103, 0.56);
  --shadowGreenSendButtonHover: rgba(52, 210, 142, 0.58);
  --shadowLightBlueCarouselButtonHover: #e2edfb;
  --shadowLightBlueCourseCards: rgba(27, 99, 240, 0.4);
}
