// <!-- -=-=-=-=-=-WHICH ONE DO YOU PREFER SECTION-=-=-=-=-=- -->
.which-you-prefer-section {
  margin-left: 24px;
  margin-right: 24px;

  h2 {
    margin-top: 92px;
    margin-bottom: 16px;
    margin-right: 84px;
  }
  p {
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: var(--greyText);
  }
  ul {
    display: flex;
  }
  ul > li > p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--whiteMain);
  }
  ul > li > a:hover,
  ul > li > a:focus {
    opacity: 0.7;
  }
  ul > li > a:active {
    opacity: 0.4;
  }
}
