.why-choose-us-section {
  margin-bottom: 10px;
}

.why-choose-us-section-header {
  margin-bottom: 32px;
}

.conference-list-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 25px;
  padding-bottom: 24px;
  margin-bottom: 41px;
  border-bottom: 1px solid var(--greyText);
}

.conference-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 7px;
}
.conference-details-technical-container {
  display: flex;
  align-items: center;
}
.conference-schedule {
  color: var(--greyTextNewestEdition);
  font-size: 14px;
  line-height: 1.57;
  display: inline-block;
  vertical-align: middle;
}
.conference-details-icon {
  margin-right: 8px;
}

// <!-- -=-=-=-=-=-FEATURED ASIDE BLOCK-=-=-=-=-=- -->
.featured-aside {
  margin-left: -24px;
  margin-right: -24px;
  background-color: var(--whiteAsideBackground);
  padding-left: 24px;
}
.featured-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.4em;
  color: var(--beigeFeaturedBackground);
  margin-left: -8px;
  padding-top: 40px;
}
.featured-counter {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  justify-content: right;
  justify-content: flex-start;
  gap: 28px;
  p {
    font-size: 14px;
    line-height: 1.57;
    color: var(--greyText);
  }
  span {
    margin-right: 6px;
  }
}
.days > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--blueFeaturedDaysCounter);
}
.hours > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--goldenFeaturedHoursCounter);
}
.minutes > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--redFeaturedMinutesCounter);
}

.featured-card {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  margin: 24px auto 52px;
  background: url(../img/course-cards/obsolete-course-01.jpg);

  .featured-card-info {
    width: 280px;
    height: 156px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 224px;
    left: 24px;
    padding-top: 24px;
    padding-left: 16px;
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      color: var(--whiteMain);
    }
    .featured-card-info-details {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: 8px;
      position: absolute;
      margin-top: 16px;

      p {
        font-size: 14px;
        line-height: 1.57;
        color: var(--whiteFeaturedCardText);
        margin-left: 8px;
      }
    }
  }
}
