header.header {
  padding-top: 36px;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 5;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__navigation > a.button.blue-button {
  margin-left: 40px;
  margin-right: 20px;
}
.header .main-logo {
  flex-grow: 10;
}

.header-nav-link {
  color: var(--whiteMain);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--blueMain);
}

.header__navigation > ul {
  display: none;
}

.main-logo:focus,
.main-logo:hover {
  --color2: var(--blackMain);
}

// HAMBURGER BUTTON ALL STATES
button#hamburgerBtn {
  background: none;
  border: none;
  color: var(--blueMain);
  font-size: 24px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-right: 12px;
}
button#hamburgerBtn:hover,
button#hamburgerBtn:focus {
  transform: scale(1.3);
}
button#hamburgerBtn:active {
  color: var(--blackMain);
}

.header__navigation > ul.open {
  display: flex;
  flex-direction: column;
  width: 327px;
  .header-nav-link {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    color: #000000;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }
}
