section.hero-section {
  background-repeat: repeat;
  padding-top: 424px;
  padding-bottom: 35px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center center;
    background-repeat: repeat;
    background-image: url(../img/what-a-mess.png);
    //background-size: 100%;
  }


  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: 75% 60%;
    background-repeat: no-repeat;
    background-image: url(../img/hero-image.png);
    background-size: 29%;
  }

  h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    padding-bottom: 32px;
  }

  p {
    font-size: 14px;
    line-height: 1.57;
    padding-bottom: 50px;
    padding-right: 30px;
  }

  a.button.blue-button {
    margin-right: 20px;
    margin-bottom: 45px;
  }
}
