section.our-clients {
  padding-top: 30px;
  padding-bottom: 44px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.clients-list a:hover,
.clients-list a:focus {
  --color12: var(--blueMain);
}

.clients-google {
  margin-right: -5px;
}
