* {
  margin: 0;
  padding: 0;
  border: 0;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  background-color: none; }

a {
  text-decoration: none; }

button {
  background-color: none; }

ol,
ul {
  list-style: none; }

HTML5 display-role reset for older browsers article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

blockquote,
q {
  quotes: none; }

blockquotebefore,
blockquoteafter,
qbefore,
qafter {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --blueMain: #1b63f0;
  --blueButtonHover: #3d7fff;
  --blueButtonPressed: #175ee9;
  --blueFeaturedDaysCounter: #91a3ed;
  --blueLatestBlog: #5d74e4;
  --blueDecorationSquare: #637af2;
  --whiteMain: #ffffff;
  --whiteFeaturedCardText: #bfbfbf;
  --whiteAsideBackground: #fff9f1;
  --whiteInputFieldBackground: #f3f6fc;
  --blackMain: #000000;
  --greenMain: #64be97;
  --greenButtonHover: #c0ffe4;
  --greenButtonPressed: #83ebbf;
  --greenVeryLight: #97f5cd;
  --greenSendButton: #64be97;
  --greenSendButtonHover: #25de8e;
  --greenSendButtonActive: #4dda9d;
  --greenSlickButtonActive: #55b089;
  --greenLightBackgroundCard: #d6fae7;
  --greyText: #5c5c5c;
  --greyTransparentButton: rgba(255, 255, 255, 0.15);
  --greyTextNewestEdition: #838383;
  --greyDecorationCircle: #eaedf4;
  --beigeFeaturedBackground: #f6f2e9;
  --goldenFeaturedHoursCounter: #f0c41b;
  --redFeaturedMinutesCounter: #fe5f60;
  --pinkDecorationDot: #fde7e6;
  --pinkDecorationSquare: #ffefef;
  --shadowGreenPlayButton: rgba(75, 202, 103, 0.56);
  --shadowGreenSendButtonHover: rgba(52, 210, 142, 0.58);
  --shadowLightBlueCarouselButtonHover: #e2edfb;
  --shadowLightBlueCourseCards: rgba(27, 99, 240, 0.4); }

.pink-dot:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: var(--pinkDecorationDot);
  position: absolute;
  top: 8px;
  left: 8px; }

.blue-line::after {
  content: "";
  display: inline-block;
  margin-left: 24px;
  width: 56px;
  height: 2px;
  background-color: var(--blueMain); }

.blue-line-far-away::after {
  content: "";
  display: inline-block;
  text-align: right;
  width: 56px;
  height: 2px;
  background-color: var(--blueMain); }

.greyCircle::after {
  content: "";
  display: none;
  width: 32px;
  height: 32px;
  background: var(--greyDecorationCircle);
  border-radius: 50%; }

.pinkSquare::after {
  content: "";
  display: none;
  width: 40px;
  height: 40px;
  background: var(--pinkDecorationSquare);
  border-radius: 8px; }

.greenBackgroundCard::after {
  content: "";
  display: block;
  width: 415px;
  height: 264px;
  background: var(--greenLightBackgroundCard);
  border-radius: 16px 16px 0px 16px; }

.whiteHorLine::after {
  content: "";
  display: block;
  width: 270px;
  height: 1px;
  background-color: var(--whiteMain);
  margin-top: 48px;
  margin: 48px 0 0 -16px; }

.blueSquare::before {
  content: "";
  display: block;
  width: 344px;
  height: 344px;
  background: var(--blueDecorationSquare);
  border-radius: 24px; }

header.header {
  margin: 24px 0 360px 0; }

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.header-navigation > a.button.blue-button {
  margin-left: auto;
  margin-right: 8px; }

.header-nav-link {
  color: var(--whiteMain);
  font-size: 12px;
  line-height: 1.33;
  font-weight: 600; }

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--blueMain); }

.header-navigation > ul.open {
  display: block; }

.header-navigation > ul {
  display: none; }

.main-logo:focus,
.main-logo:hover {
  --color2: var(--blackMain); }

button#hamburgerBtn {
  background: none;
  border: none;
  color: var(--blueMain);
  font-size: 24px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-right: 12px; }

button#hamburgerBtn:hover,
button#hamburgerBtn:focus {
  transform: scale(1.3); }

button#hamburgerBtn:active {
  color: var(--blackMain); }

section.hero-section {
  background-repeat: no-repeat;
  margin-bottom: 54px; }
  section.hero-section h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.22;
    margin-bottom: 32px; }
  section.hero-section p {
    font-size: 14px;
    line-height: 1.57;
    margin-bottom: 52px;
    padding-right: 30px; }
  section.hero-section a.button.blue-button {
    margin-right: 20px;
    margin-bottom: 45px; }

.our-clients {
  margin: 0 24px 80px 23px; }
  .our-clients ul {
    display: flex;
    flex-wrap: wrap; }
  .our-clients ul > li > a > img:hover {
    opacity: 0.7;
    transform: scale(1.3); }

.choose-us-section {
  width: 100%;
  padding-left: 24px; }
  .choose-us-section h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5; }
  .choose-us-section p {
    font-size: 14px;
    line-height: 1.57;
    color: var(--greyText);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.another-choose-us .why-choose-us-lower {
  padding-left: 24px;
  padding-right: 24px; }
.another-choose-us .conference-details {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px; }
  .another-choose-us .conference-details svg {
    margin-right: 8px; }
.another-choose-us h2 {
  margin-top: 132px;
  margin-bottom: 32px; }
.another-choose-us h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5; }
.another-choose-us p {
  font-size: 14px;
  line-height: 1.57;
  color: var(--greyText);
  margin-right: 24px; }
.another-choose-us li {
  padding-bottom: 24px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--greyText); }
.another-choose-us .featured {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.4em;
  color: var(--beigeFeaturedBackground);
  margin-left: -8px;
  padding-top: 40px; }
.another-choose-us aside > p {
  font-size: 14px;
  line-height: 1.57;
  color: var(--greyText); }
.another-choose-us .days > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--blueFeaturedDaysCounter); }
.another-choose-us .hours > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--goldenFeaturedHoursCounter); }
.another-choose-us .minutes > span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--redFeaturedMinutesCounter); }

aside {
  background-color: var(--whiteAsideBackground);
  padding-left: 24px; }

.featured-counter {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  justify-content: right;
  justify-content: flex-start;
  gap: 28px; }
  .featured-counter span {
    margin-right: 6px; }

.featured-card {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  margin: 24px auto 52px; }
  .featured-card img {
    border-radius: 8px; }
  .featured-card .featured-card-info {
    width: 280px;
    height: 156px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 224px;
    left: 24px;
    padding-top: 24px;
    padding-left: 16px; }
    .featured-card .featured-card-info h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
      color: var(--whiteMain); }
    .featured-card .featured-card-info .featured-card-info-details {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: 8px;
      position: absolute;
      margin-top: 16px; }
      .featured-card .featured-card-info .featured-card-info-details p {
        font-size: 14px;
        line-height: 1.57;
        color: var(--whiteFeaturedCardText);
        margin-left: 8px; }

.which-you-prefer-section {
  margin-left: 24px;
  margin-right: 24px; }
  .which-you-prefer-section h2 {
    margin-top: 92px;
    margin-bottom: 16px;
    margin-right: 84px; }
  .which-you-prefer-section p {
    font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: var(--greyText); }
  .which-you-prefer-section ul {
    display: flex; }
  .which-you-prefer-section ul > li > p {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--whiteMain); }
  .which-you-prefer-section ul > li > a:hover,
  .which-you-prefer-section ul > li > a:focus {
    opacity: 0.7; }
  .which-you-prefer-section ul > li > a:active {
    opacity: 0.4; }

body {
  font-family: "Montserrat", sans-serif;
  color: var(--blackMain);
  font-weight: 400;
  font-style: normal;
  background-image: url(../img/hero-image.png), url(../img/top-bg-spot.png), url(../img/background-mess.png);
  background-size: 100%, 100%, 100%;
  background-position-y: 3rem, 0rem, 0rem;
  background-position-x: right;
  background-repeat: no-repeat, no-repeat, repeat;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column; }

.container {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto; }

@media screen and (min-width: 768px) {
  .container {
    width: 720px; } }
@media screen and (min-width: 1440px) {
  .container {
    width: 1024px;
    padding: 0 10px; } }
h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38; }

.button {
  font-weight: 700;
  font-size: 12px;
  border-radius: 22px;
  line-height: 1.33;
  padding: 12px 20px;
  color: var(--blackMain);
  background-color: var(--greyText); }

.blue-button {
  background-color: var(--blueMain);
  color: var(--whiteMain); }

.blue-button:hover,
.blue-button:focus {
  background-color: var(--blueButtonHover); }

.blue-button:active {
  background-color: var(--blueButtonPressed); }

.green-button {
  color: var(--blackMain);
  background-color: var(--greenVeryLight); }

.green-button:hover,
.green-button:focus {
  background-color: var(--greenButtonHover); }

.green-button:active {
  background-color: var(--greenButtonPressed); }

.send-button {
  width: 120px;
  height: 40px;
  background-color: var(--greenSendButton);
  box-shadow: 0px 4px 16px var(--shadowGreenPlayButton);
  color: var(--whiteMain);
  cursor: pointer; }

.send-button:hover,
.send-button:focus {
  background: var(--greenSendButtonHover);
  box-shadow: 0px 10px 16px 4px var(--shadowGreenSendButtonHover); }

.send-button:active {
  background: var(--greenSendButtonActive);
  box-shadow: 0px 4px 16px var(--shadowGreenPlayButton); }

.transparent-button {
  color: var(--whiteMain);
  background: none;
  padding: 12px 20px;
  width: 142px;
  height: 40px;
  border: 1px solid var(--whiteMain); }

.transparent-button:hover,
.transparent-button:focus {
  background: var(--greyTransparentButton); }

.transparent-button:active {
  background: var(--greyTransparentButton);
  border: 2px solid var(--whiteMain); }

section.popular-courses-section h2 {
  margin-bottom: 6px; }
section.popular-courses-section h3 {
  margin-bottom: 32px; }

.popular-courses-section h2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: var(--blueMain); }
.popular-courses-section h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  text-align: center; }
.popular-courses-section ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px; }
.popular-courses-section ul > li.course-card {
  position: relative;
  border-radius: 8px;
  display: inline-block;
  margin: 0 auto; }
.popular-courses-section ul > li > a {
  display: inline-block;
  background-color: none; }
.popular-courses-section ul > li.course-card > a > img.portrait {
  position: absolute;
  left: 16px;
  top: -22px; }
.popular-courses-section ul > li.course-card > a > img.course-advert {
  border-radius: 8px; }
.popular-courses-section ul > li > a > h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: var(--whiteMain);
  margin: 0 16px 0 16px;
  position: absolute;
  top: 243px; }
.popular-courses-section ul > li > a > p.course-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--whiteMain);
  position: absolute;
  top: 263px;
  margin: 0 16px 0 16px; }
.popular-courses-section ul > li > a > p.course-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--whiteMain);
  position: absolute;
  top: 320px;
  margin-left: 16px; }
.popular-courses-section ul > li > a > p > span.price-discounted {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  text-decoration-line: line-through;
  color: var(--whiteMain);
  margin-left: 10px;
  vertical-align: middle; }
.popular-courses-section ul > li > a > div.stars-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 324px;
  right: 13px;
  gap: 2px; }
.popular-courses-section ul > li > a > div.stars-container > p.stars-counter {
  margin-left: 4px; }
.popular-courses-section a:focus {
  box-shadow: 0px 6px 20px var(--shadowLightBlueCourseCards); }

ul > li > a:hover,
ul > li > a:focus {
  box-shadow: 0px 6px 20px var(--shadowLightBlueCourseCards); }

ul > li > a:active {
  opacity: 0.4; }

button.slick-prev {
  transform: rotate(180deg);
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0); }

.slick-next {
  cursor: pointer;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0); }

.slick-next:hover,
.slick-next:focus,
.slick-prev:hover,
.slick-prev:focus {
  --color1: var(--greenMain);
  --color4: var(--whiteMain); }

.slick-next:active,
.slick-prev:active {
  --color1: var(--greenSlickButtonActive); }

.popular-courses-section ul > li .stars-counter {
  font-size: 12px;
  line-height: 1.33;
  color: var(--whiteMain); }

.limitter-327px {
  margin-left: 24px;
  margin-right: 24px; }

.take-tour .play {
  padding: 6px 9px;
  width: 40px;
  height: 40px;
  background: var(--greenMain);
  border: 2px solid var(--whiteMain);
  box-shadow: 0px 4px 16px var(--shadowGreenPlayButton);
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  top: 197px;
  left: 169px; }
.take-tour .play:hover,
.take-tour .play:focus {
  border: none;
  padding: 7px 10px; }
.take-tour .play:active {
  background: var(--greenSlickButtonActive);
  box-shadow: none;
  padding: 7px 10px; }
.take-tour h2 {
  margin-bottom: 24px; }
.take-tour div.video {
  position: relative;
  margin-bottom: 40px; }
.take-tour .university-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  color: var(--blueMain);
  margin-bottom: 6px; }
.take-tour p {
  font-size: 14px;
  line-height: 1.57;
  color: var(--greyText); }
.take-tour .pink-dot {
  position: relative; }
  .take-tour .pink-dot p {
    margin-left: 36px; }
.take-tour ul {
  margin-top: 12px;
  margin-bottom: 36px; }
.take-tour .pink-dot p {
  margin-bottom: 12px; }

.our-great-customers {
  background-image: url(../img/weird-spots.png);
  background-repeat: no-repeat; }
  .our-great-customers figure > blockquote > p {
    font-size: 14px;
    line-height: 1.57;
    color: var(--greyText); }
  .our-great-customers figure > figcaption > p {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33; }
  .our-great-customers ul {
    display: flex; }
  .our-great-customers ul > li > button:hover,
  .our-great-customers ul > li > button:focus {
    transform: scale(1.3); }
  .our-great-customers ul > li > button:active {
    --color3: var(--blueMain); }

.get-started {
  background-image: url(../img/background.png);
  display: flex; }
  .get-started .get-started-slogan {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    color: var(--whiteMain); }
  .get-started h2 {
    color: var(--greenSendButton); }
  .get-started p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.57;
    color: var(--whiteMain);
    width: 50%; }
  .get-started aside {
    width: 50%; }
  .get-started aside > p {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    color: var(--whiteMain); }
  .get-started aside > ul > li > p {
    font-size: 14px;
    line-height: 1.57;
    color: var(--whiteMain); }
  .get-started aside > ul > li > a:hover,
  .get-started aside > ul > li > a:focus {
    opacity: 0.7; }
  .get-started aside > ul > li > a:active {
    opacity: 0.4; }

.latest-blog ul > li > h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: var(--blueLatestBlog); }
.latest-blog ul > li > h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5; }
.latest-blog ul > li > a {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  color: var(--blackMain); }
.latest-blog ul > li > a:hover,
.latest-blog ul > li > a:focus {
  opacity: 0.7;
  color: var(--blueMain); }
.latest-blog ul > li > a:active {
  opacity: 0.4;
  color: var(--blackMain); }
.latest-blog ul > li > button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--blueLatestBlog);
  width: 40px;
  height: 40px;
  background: var(--whiteMain);
  border-radius: 20px;
  padding: 8px; }
.latest-blog ul > li > button:hover,
.latest-blog button:focus {
  box-shadow: 0px 4px 16px --shadowLightBlueCarouselButtonHover; }
.latest-blog ul > li > button:active {
  border: 1px solid var(--greenSendButton);
  box-shadow: none; }

form input {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 0px 12px;
  width: 420px;
  height: 44px;
  background: var(--whiteInputFieldBackground);
  border-radius: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--greyText);
  border: none; }
form input:focus,
form input:focus-visible,
form input:hover {
  border: 2px solid var(--blueMain); }

.footer-info .footer-nav-expanded h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5; }
.footer-info .footer-nav-expanded ul > li > a {
  font-size: 14px;
  line-height: 1.57;
  color: var(--greyText); }
.footer-info .footer-nav-expanded ul > li > a:hover,
.footer-info .footer-nav-expanded ul > li > a:focus {
  color: var(--blueMain); }
.footer-info .footer-nav-expanded ul > li > a:active {
  color: var(--blackMain);
  opacity: 0.5; }
.footer-info .footer-nav-minimized ul > li > a {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  color: var(--greyText); }
.footer-info .footer-nav-minimized ul > li > a:hover,
.footer-info .footer-nav-minimized ul > li > a:focus {
  color: var(--blueMain); }
.footer-info .footer-nav-minimized ul > li > a:active {
  color: var(--blackMain);
  opacity: 0.5; }
.footer-info .social-networks-contacts:focus,
.footer-info .social-networks-contacts:hover {
  --color33: var(--blueMain); }
.footer-info .social-networks-contacts:active {
  --color33: var(--blackMain);
  opacity: 0.5; }

section.choose-us-section h2 {
  margin-bottom: 56px; }
section.choose-us-section ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px; }
section.choose-us-section ul > li {
  display: flex;
  flex-direction: column;
  align-items: center; }
section.choose-us-section ul > li svg {
  margin-bottom: 16px; }
section.choose-us-section ul > li h3 {
  margin-bottom: 6px; }
section.choose-us-section ul > li p {
  margin-bottom: 20px;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
